
$box-border-radius: 30px;
$primary-color: var(--bs-primary);
$secondary-color: var(--bs-secondary);
$light-color: var(--bs-light);
$dark-color: var(--bs-dark);



* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    $dark-color 0%,
    $dark-color 50%,
    $primary-color 50%,
    $primary-color 100%
  );

  &__hero {
    display: flex;
    height: 100%;
  
    &__content__left {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &__content__right {
      width: 50%;
      height: 100%;
      position: relative;
  
        &::before {
      position: absolute;
      content: '';
      width: 150px;
      height: 100%;
      background: $dark-color;
      top: 0;
      left: -1px;
      clip-path: polygon(0.1% 0%,100% 100%,0% 100%);
      };
    };
    
    &__img {
      position: absolute;
      bottom: 0;
      left: 45%;
      width: 45%;
    }
  };
}

.section-title {
  color: $primary-color;
  font-weight: 600;
  text-transform: capitalize;
}

.section-subtitle {
  font-weight: 600;
  text-transform: capitalize;
}

/* Define mixin for three curved box border side */
@mixin threeCurvedBorderedBox() {
  border-top-left-radius: $box-border-radius;
  border-top-right-radius: $box-border-radius;
  border-bottom-left-radius: $box-border-radius;
}

.box {
  width: 90px;
  height: 90px;
  background-color: $primary-color;
  @include threeCurvedBorderedBox();
}

.hire-me-box {
  width: 100%;
  padding: 40px;
  border-radius: 15px;
  background-color: $primary-color;
}

.carousel-item img {
  height: 100%;
  width: 10rem;
  @include threeCurvedBorderedBox();
}

.service-card {
  cursor: pointer;
  color: $secondary-color;
}

.service-card:hover {
  background-color: $primary-color;
  color: #fff;
}

.btn-light {
  font-size: 1rem;
  color: #5d5959;
  font-weight: 600;
  border: 1px solid #dee2e6;
  border-radius: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-light:hover {
  background-color: $primary-color;
  color: $light-color;
}

.testimonial-text {
  font-size: 16px;
  font-weight: 500;
}

.testimonial-job {
  font-size: 12px;
}

.testimonial-author {
  font-size: 14px;
  font-weight: 600;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%; 

}

.socials {
  height: 200px;
  width: 30px;
  border-radius: $box-border-radius;
  position: fixed;
  z-index: 1;
  top: 165px;
  left: 20px;
}

header h4 {
  letter-spacing: 2px;
  word-spacing: 5px;
}

#services i {
  font-size: 30px;
  color: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats i {
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 12px;
}

/* Define mixin for a border with three arguments */
@mixin underlineType($type, $width, $color) {
  border: none;
  border-top: 4px $type $color;
  color: $primary-color;
  text-align: center;
  height: 5px;
  width: $width;
}

.custom-underline {
  @include underlineType(solid, 30px, $primary-color);
}

.custom-dashed-underline {
  @include underlineType(dashed, 30px, $primary-color);
}

.vertical {
  border-left: 6px solid $primary-color;
  height: 140px;
  position: absolute;
  left: 50%;
  margin: 0;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 1200px) {
  #nav {
    background-color: #fff;
  }

  #navbar-button {
    background-color: $primary-color;
}

.navbar-toggler {
  color: transparent;
}

.nav-link {
  color: #5d5959;
}
}


@media (max-width: 991px) {

  .header {
    background: $dark-color;

    &__hero {

      &__content__left {
        width: 100%;
      }
    }
  }

  .sect .image-container {
    display: flex;
    justify-content: center;
  }
}
